body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.memory-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: box-shadow 0.3s; /* Fügt eine sanfte Übergangsanimation hinzu */
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Schatten-Effekt beim Hover */
}
